html,body{
    background-color:#e0b741 ;
    height: 100%;
}
.app{
    min-height: 100%;
}
.navigation{
    background-color: #e0b741;
}
.content{
    position: absolute;
    top: 68px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
}
.collection-box{
    padding-bottom:20px;
    border-radius: 5px;
    background-color: #fff;
}

.collection-title{
    height: 50px;
    line-height: 50px;
    padding:0 20px;
    background-color: #fafafa;
    color: #e0b741;
    font-size: 18px;
}
.collection-tip{
    margin: 20px 0 0;
    text-align: center;
    font-size: 18px;
    color: #656565;
}
.remark-box p{
    text-align: center;
    font-size: 15px;
}
.remark-box p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}
.fa-money{
    margin-right: 15px;
}
.qr-code{
    width: 100%;
    height: 50vw;
    margin-bottom:30px;
    position: relative;
    text-align: center;
}
.qr-code img{
    height: 100%;
}
.set-amount{
    text-align: center;
}
.set-amount a{
    font-size: 18px;
    color: #8193a1;
}
.set-amount-page{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
    width: 100%;
    padding:0 10px;
    height: 100%;
    transition: all 0.5s;
    background-color: #eeeef3;
}
.set-amount-page .amount-box{
    position: relative;
    top: 83px;
    width: 100%;
    height: 40%;
    padding: 5% 8%;
    border-radius: 5px;
    background-color: #fff;
}
.set-amount-page .amount-nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 26px 0 6px;
    height: 68px;
    display: flex;
    background-color: #24252a;
    color: #fff;
    margin-bottom: 30px;
}
.amount-nav div{
    height: 100%;
    line-height: 36px;
}
.nav-left{
    padding-left: 10px;
    width: 64px;
    font-size: 15px;
}
.nav-content{
    font-size: 20px;
    text-align: center;
    flex: 1;
}
.nav-right{
    padding-right: 10px;
    text-align: right;
    width: 64px;
    font-size: 15px;
}
.set-amount-page p{
    font-size: 15px;
}
.remark{
    margin-bottom: 50px;
}
.remark a{
    color: #6f80a4;
}
.remark span{
    color: #333;
}
.weui-cells{
    margin-top: 0;
}
.weui-cell{
    padding: 10px 0;
    font-size: 18px;
}
.weui-cell input{
    font-size: 25px;
    font-weight: 600;
}
.weui-cell__hd{
    width: 10%;
    text-align: left;
}
.weui-cells:before{
    border-top: none;
}
.remark-dialog .weui-dialog__bd {
    /*display: none!important;*/
}
#amount-info{
    opacity: 0;
    height: 55px;
    text-align: center;
}
#amount-info strong{
    font-size: 30px;
}
#amount-info span{
    font-size: 24px;
}
.comment-alert{
    display: none;
}