/*钱包页面*/
.myWallet{
    padding: 24px 0;
    background: rgb(104,111,121);
}
.myWallet svg{
    height: 100%;
    fill:white;
}
.myWallet .grid-icon{
    height: 35px;
}
.myWallet .grid-icon,
.myWallet .grid-title,
.myWallet .grid-extra{
    text-align: center;
}
.grid-title{
    margin-top:15px;
    font-weight: 400;
    font-size: 14px;
}
.grid-extra{
    font-size: 12px;
    opacity: 0.9;
}
.wallet-service {
    background: white;
}



.userNickName{
    margin-top: 80px;
    font-size: 24px;
    color: white;
    text-align: center;
}
.userNickName span{
    font: inherit;
}
.userPic{
    margin: 24px auto 0;
    width: 40vw;
    height: 40vw;
    overflow: hidden;
}
.userPic img{
    width: 100%;
}
.userTips{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
}
.userInfo{
    z-index: 5000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: -webkit-fit-content;
    width: fit-content;
    margin: 0 auto;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: transform .3s, -webkit-transform .3s;
    -moz-transition: transform .3s, -webkit-transform .3s;
    -ms-transition: transform .3s, -webkit-transform .3s;
    -o-transition: transform .3s, -webkit-transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.userInfoToggleShow{
    -webkit-transform: translate3d(0, 0 , 0);
    -moz-transform: translate3d(0, 0 , 0);
    -ms-transform: translate3d(0, 0 , 0);
    -o-transform: translate3d(0, 0 , 0);
    transform: translate3d(0, 0 , 0);
}