.info-box{
    margin-bottom: 15px;
    z-index: 200;
}
.info-box .info-title{
    font-size: 20px;
    text-align: left;
}
.info-box .info-time{
    color: #a1a1a1;
    text-align: left;
}
.info-box .info-money-title,.info-box .info-money{
    text-align: center;
}
.info-box .info-money-title{
    font-size: 18px;
    color: #a1a1a1;
}
.info-box .info-money{
    font-size: 25px;
    font-weight: bold;
}
.info-box .weui-form-preview__bd{
    text-align: left;
}
.info-box .weui-form-preview__label{
    width: 27%;
    text-align: left;
    text-align-last: left;
}