/* reset */
*{-webkit-box-sizing:border-box;box-sizing: border-box;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body{background:#fff;}
a{color:#333;}


body{
    background: #f8f8f8;
}
/* app */
.app{
    width: 100%;
    position: relative;
    overflow: hidden;
}
/* item-title component */
.item-title{
    font-size: 16px;
    height: 38px;
    padding-left: 16px;
    line-height: 38px;
    font-weight: normal;
    color: gray;
}
/* Grid component */
.grid-white{
    color: white;
}
/*----------------------------------------*/


/* 导航层start */
.navigation.white{
    background: white;
    color: black;
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding:26px 0 6px;
    background: rgb(36,37,42);
    height:68px;
    display: -webkit-flex;
    display: flex;
    color: white;
}
.navigation>div{
    color: inherit;
    height:100%;
    line-height: 36px;
}
.navigation-left{
    padding-left:10px;
    width:100px;
    font-size: 15px;
}
.navigation-right{
    padding-right:10px;
    text-align: right;
    width:100px;
    font-size: 15px;
}
.navigation-content{
    font-size: 20px;
    text-align: center;
    flex:1;
}
/* 导航层end -------------------------------------*/


/* 页面start */
.page{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
/* 页面end -------------------------------------*/


/* 内容层start */
.content{
    padding-top:68px;
    height: 100%;
}


/* 内容层end -------------------------------------*/


/* 遮罩层start */
#mask{
    display: none;
}
/* 遮罩层end -------------------------------------*/

/*登入*/
.logInWrap .navigation,
.signWrap .navigation{
    color: black;
}
.logInWrap .signTitle{
    margin:60px 0 40px;
    text-indent: 15px;
    font-size: 28px;
}
.signTips{
    overflow: hidden;
    padding:0 15px;
    margin:24px 0 48px;
}
.sign-text{
    display: block;
    font-size: 14px;
    color: gray;
    overflow: hidden;
}
.sign-link{
    display: block;
    font-size: 14px;
    color: dodgerblue;
    overflow: hidden;
}
.signTips .signTipsRight{
    float: right;
}
.signTips .signTipsLeft{
    float: left;
}
.submitBtn{
    margin-top:24px;
    padding: 0 10px;
}
/*注册*/
.signWrap .navigation-left{
    color: #1AAD19;
}
.signWrap .signTitle{
    padding: 0 15px;
    margin: 30px 0;
    font-size: 20px;
    text-align: center;
}

/*footer*/
.weui-footer{
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
}

.center{
    text-align: center;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.top-toast{
    position: relative;
    z-index: 9999;
}