<!doctype html>
<html>

<head>
	<title>资金详情</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
	<link rel="stylesheet" type="text/css" href="../../plugin/layui/css/layui.css">
<link rel="stylesheet" href="../../css/financing/money-details.css">


</head>

<body>
<header class="normal-container" style="background-color:#F1F1F1;">
    <div class="container top-header-box">
        <div class="top-header-left-part">
            <span>客服热线：4000-0000-0000</span> |
            <span><img src="../../images/weibo.jpg"></span> |
            <span><img src="../../images/weibo.jpg"></span>
        </div>
        <div class="top-header-right-part">
            <span><a href="../../views/information/about-us.html">关于我们</a></span> |
            <span><a href="../../views/information/help-center.html">帮助中心</a></span>
        </div>
    </div>
</header>
<div class="normal-container bg-white">
    <div class="container header-box">
        <div class="header-left-part">

            <img src="../../images/weibo.jpg" class="logo">
        </div>
        <div class="header-right-part header-right-part">
			<div class="pull-right">
            	<input type="text" class="search-input">
            	<a class="search-input-btn">搜索</a>
			</div>
        </div>
<!--
        <div class="header-right-part text-right">
            <a class="member-login-btn mgr-10">会员登录</a>
            <a class="labor-login-btn">劳工登录</a>

        </div>
-->
    </div>
</div>
<div class="normal-container bg-primary">
    <nav class="container">
        <ul class="top-nav-list">
          
           
			 
            	<li><a href='../../views/index/index.html'>首页</a></li>
            
			
         		 <li class="active"><a href='../../views/financing/financing.html'>资源信息中心</a></li>
           
			 
            	<li><a href='../../views/financing/money-souce.html'>商务交易中心</a></li>
            
			 
            	<li><a href='../../views/user/my-account.html'>风控管理中心</a></li>
            
			 
            	<li><a href='../../views/index/index.html'>劳工资源中心</a></li>
            
			 
            	<li><a href='../../views/product-service/product-serve.html'>产品和服务</a></li>
            
			 
            	<li><a href='../../views/information/industry-information.html'>资讯视窗</a></li>
            
        </ul>

    </nav>
</div>
<div class="content">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="../../views/financing/money-souce.html">资金</a>
            <a href="#">资金详情</a>
        </span>
    </div>
    <div class="side-left">
        <div class="money-details">
            <div class="details-title">
                <div>四川某投资公司1000万元寻项目合作</div>
                <ul>
                    <li>浏览<span>（150）</span></li>
                    <li>关注<span>（150）</span></li>
                    <li>约谈<span>（50）</span></li>
                </ul>
            </div>
            <div class="details">
                <img src="../../images/banner.png" alt="" class="money-img">
                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                <div class="details-info">
                    <ul>
                        <li>所在地区：<span>四川成都</span></li>
                        <li>投资行业：<span>建筑建材</span></li>
                        <li>资金主体：<span>企业资金</span></li>
                        <li>资金所属权：<span>自有资金</span></li>
                        <li>投资方式：<span>股权融资</span></li>
                        <li>投资金额：<span>1000万元</span></li>
                        <li>投资期限：<span>2年</span></li>
                        <li>风控要求：<span>股权质押</span></li>
                    </ul>
                    <a href="" class="layui-btn">我要约谈</a>
                </div>
            </div>
            
        </div>
        <div class="money-intro">
            <div class="intro-title"><span>资金介绍</span></div>
            <div class="intro">

            </div>
        </div>
    </div>
    <div class="side-right">
        <div class="card">
            <div class="title"><span>会员名片</span></div>
            <div class="card-details">
                <img src="../../images/banner.png" alt="">
                <ul>
                    <li>王先生</li>
                    <li>公司：<span>四川某民营企业</span></li>
                    <li>职位：<span>总经理</span></li>
                    <li>联系电话：<span>***********</span></li>
                    <li><a href="" class="layui-btn">查看完整联系方式</a></li>
                </ul>
            </div>
        </div>
        <div class="money">
            <div class="title"><span>推荐资金</span></div>
            <ul>
                <li>
                    <a href="../../views/financing/money-details.html">
                        <div class="project-item">
                            <div class="imgs">
                                <img src="../../images/banner.png" alt="" class="project-img">
                                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                            </div>
                            <div class="item-title">四川某投资公司寻项目合作</div>
                            <div class="item-details">
                                <div><span class="area">四川 成都</span>发布方：<span>四川某企业</span></div>
                                <div>融资金额<span class="money">1000万元</span>债权融资</div>
                                <div>浏览：<span class="font-red">100</span>关注：<span class="font-red">100</span>约谈：<span class="font-red">100</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../../views/financing/money-details.html">
                        <div class="project-item">
                            <div class="imgs">
                                <img src="../../images/banner.png" alt="" class="project-img">
                                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                            </div>
                            <div class="item-title">四川某投资公司寻项目合作</div>
                            <div class="item-details">
                                <div><span class="area">四川 成都</span>发布方：<span>四川某企业</span></div>
                                <div>融资金额<span class="money">1000万元</span>债权融资</div>
                                <div>浏览：<span class="font-red">100</span>关注：<span class="font-red">100</span>约谈：<span class="font-red">100</span></div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>


        </div>

    </div>
</div>





<footer class="normal-container footer-box">
    <div class="container">
        <div class="footer-top">
            <div class="col-25">
                <h4>关于我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>帮助中心</h4>
                <p><a>新手指引</a></p>
                <p><a>常见问题</a></p>
                <p><a>安全保障</a></p>
            </div>
            <div class="col-25">
                <h4>关注我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>服务热线</h4>
                <p class="font-18" style="font-weight:600">4000-123-12312</p>
                <p>周一到周五(8:00-22:00)</p>
                <h4>在线客服</h4>
                <p style="margin-top:5px;margin-bottom:5px;">邮箱:1234@qq.com</p>
                <p style="margin-top:5px">地址:广东省珠海市</p>
            </div>
        </div>
        <div class="copyright">
            <p>©2014-2016tyunet.com.珠海横琴云资产管理有限公司版权所有</p>
            <p>粤ICP备23456789号-9</p>
        </div>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="../../plugin/layui/lay/dest/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<!--<script src="../../plugin/locache/locache.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>-->
<script src="../../js/config.js"></script> 
<script src="../../js/model.js"></script>
<script src="../../js/public.js"></script>

</body>

</html>