@import "../index/index";
  .content{
    width: 1172px;
    margin: 10px auto;
    .breadcrumb{
      margin-bottom: 10px;
    }
  .content-title{
    height: 60px;
    text-align: center;
    background-color: #EBF0F7;
    span{
      display: inline-block;
      line-height: 60px;
      font-size: 18px;
    }
  }
    .form-details{
      background-color: #fff;
      margin-bottom: 20px;
      form{
        width: 600px;
        margin: 0 auto;
        padding-top: 11px;
        .login{
          padding-left: 250px;
         padding-bottom: 20px;
          a{
            color: #1284E0;
            text-decoration: underline;
          }
        }
        .layui-form-item{
          margin-bottom: 25px;
          .layui-form-label,.layui-input-block{
            height: 40px;
            line-height: 40px;
          }
          .layui-form-label{
            width: 150px;
            margin-right: 28px;
            padding-top: 0;
            padding-bottom: 0;
          }


          [type=text]{
            width: 300px;
            height: 40px;
          }
          [type=submit]{
            display: inline-block;
            width: 300px;
            color: #fff;
            background-color: #1284E0;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border: 1px solid #1284E0;
            border-radius: 2px;
          }
          .layui-unselect.layui-form-checkbox{
            margin-top: 0;
            margin-right: 11px;
          }

          .authcode{
            width: 180px;
            margin-right: 0;
            display: inline-block;
          }
          .layui-btn{
            width: 100px;
            background-color: #E65E5E;
            margin-left: 20px;
          }
        }
      }
    }
  }
