<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"绑定电子邮箱"
}) %>
<link rel="stylesheet" href="../../css/user/bound-email.css">


</head>

<body>
<%- include("../public/header.ejs",{active:0}) %>
<div class="content">
    <span class="layui-breadcrumb">
        <a href="../../views/user/my-account.html">会员中心</a>
        <a href="#">绑定电子邮箱</a>
    </span>
    <div class="project-form">
        <div class="project-title">
            <span>绑定电子邮箱</span>
        </div>
        <div class="details">
            <form action="" class="layui-form" >
                <div class="layui-form-item phone">
                    <label class="layui-form-label"><span class="font-red">*</span>常用电子邮箱:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item validate">
                    <label class="layui-form-label">验证码:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="输入邮箱验证码" autocomplete="off" class="layui-input">
                    </div>
                    <a href="" class="layui-btn">获取验证码</a>
                </div>
                <a href="" class="layui-btn next">确认</a>
            </form>
        </div>

    </div>
</div>



<%- include("../public/footer.ejs") %>
</body>

</html>