<html>

<%- include("../public/head.ejs",{
title:"首页"
}) %>
<link rel="stylesheet" href="../../css/user/enterprise-info.css">


</head>

<body>
<%- include("../public/header.ejs",{active:0}) %>
<div class="content-box">
    <div class="content">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="#">会员中心</a>
        </span>
        <div class="clearboth">
            <%- include("../public/sideBarLeft.ejs",{active:[0,1]}) %>
            <div class="sideBarRight pull-left">
                <div class="talk-nav">
                    <span class="active first"><a href="#">企业会员信息</a></span>
                </div>
                <div class="project">
                    <form class="layui-form" action="">
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>企业名称:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入企业名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>企业logo:</label>
                            <div class="layui-input-block images">
                                <input type="file" class="hidden">
                                <div><img src="../../images/blo_pic.png" alt=""></div>
                                <button>选择文件</button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="font-red">*</span>企业性质:</label>
                            <div class="layui-input-block sel">
                                <select name="city" lay-verify="required">
                                    <option value="">国有企业</option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label"><span class="font-red">*</span>企业简介:</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="font-red">*</span>所属行业:</label>
                            <div class="layui-input-block sel">
                                <select name="city" lay-verify="required">
                                    <option value="">建筑建材</option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>注册成立日期:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入注册成立日期" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="font-red">*</span>注册资本:</label>
                            <div class="layui-input-block sel">
                                <select name="city" lay-verify="required">
                                    <option value="">0-100万</option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"><span class="font-red">*</span>注册地址:</label>
                            <div class="layui-input-block">
                                <select name="city" lay-verify="required">
                                    <option value="">广东省</option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                                <select name="city" lay-verify="required">
                                    <option value="">广州市</option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                                <select name="city" lay-verify="required">
                                    <option value="">海珠区</option>
                                    <option value="0">北京</option>
                                    <option value="1">上海</option>
                                    <option value="2">广州</option>
                                    <option value="3">深圳</option>
                                    <option value="4">杭州</option>
                                </select>
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入详细街道地址" autocomplete="off" class="layui-input address">
                            </div>
                        </div>
                        <div class="layui-form-item linkman">
                            <label class="layui-form-label"><span class="font-red">*</span>联系人:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-block man">
                                <input type="radio" name="sex" value="男" title="先生">
                                <input type="radio" name="sex" value="女" title="女士" checked>
                            </div>
                        </div>
                        <div class="layui-form-item fixphone">
                            <label class="layui-form-label">固定电话:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="+86" autocomplete="off" class="layui-input">
                                -
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                               -
                                <input type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>移动电话:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入常用移动电话" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label">微信公众号:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入企业微信公众号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>企业邮箱:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入企业常用邮箱" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label">企业网址:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入企业网址" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <a href="" class="layui-btn">保存</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<%- include("../public/footer.ejs") %>
</body>

</html>