<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"我发起的约谈"
}) %>
<link rel="stylesheet" href="../../css/user/my-sponsor-project-talk.css">


</head>

<body>
<%- include("../public/header.ejs",{active:0}) %>
    <div class="content">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="#">会员中心</a>
        </span>
        <div class="clearboth">
            <%- include("../public/sideBarLeft.ejs",{active:[2,0]}) %>
            <div class="sideBarRight pull-left">
                <div class="talk-nav">
                    <span class="active first"><a href="#">发起的约谈</a></span>
                    <span><a href="../../views/user/my-receive-talk.html">收到的约谈</a></span>
                </div>
                <div class="talk-list">
                    <span class="talk-ltem active"><a href="#">项目约谈</a></span>
                    <span class="talk-item"><a href="">资金约谈</a></span>
                </div>
                <div class="project">
                    <p>你总共发起<span class="num">1</span>个项目约谈。</p>
                    <div class="project-item clearboth">
                        <img src="../../images/weibo.jpg" alt="" class="pull-left">
                        <div class="pull-left project-item-details">
                            <div>四川某投资公司1000万元寻项目合作</div>
                            <ul>
                                <li class="pull-left text-left text-overflow">融资金额：<span class="font-red">10000万</span></li>
                                <li class="pull-left text-left text-overflow">发布方：<span>四川某企业</span></li>
                                <li class="pull-left text-left text-overflow">项目融资方式：<span>债权融资</span></li>
                                <li class="pull-left text-left text-overflow">所在地区：<span>四川 成都</span></li>
                            </ul>
                        </div>
                        <div class="pull-left project-date">
                            2017-02-17
                        </div>
                    </div>
                </div>
                <div class="page">
                    <ul>
                        <li class="pre">上一页</li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li class="no-border">...</li>
                        <li>34</li>
                        <li class="next">下一页</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>





<%- include("../public/footer.ejs") %>
</body>

</html>