<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"会员认证"
}) %>
<link rel="stylesheet" href="../../css/user/personage-aprove.css">


</head>

<body>
<%- include("../public/header.ejs",{active:0}) %>
    <div class="content">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="#">会员中心</a>
        </span>
        <div class="clearboth">
            <%- include("../public/sideBarLeft.ejs",{active:[0,2]}) %>
            <div class="sideBarRight pull-left">
                <div class="talk-nav">
                    <span class="active first"><a href="#">个人会员认证</a></span>
                </div>
                <div class="project">
                    <form class="layui-form" action="">
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>身份证号:</label>
                            <div class="layui-input-block ">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入身份证号" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>身份证正面扫描件:</label>
                            <div class="layui-input-block images">
                                <input type="file" class="hidden">
                                <div><img src="../../images/blo_pic.png" alt=""></div>
                                <button>选择文件</button>
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>身份证反面扫描件:</label>
                            <div class="layui-input-block images">
                                <input type="file" class="hidden">
                                <div><img src="../../images/blo_pic.png" alt=""></div>
                                <button>选择文件</button>
                            </div>
                        </div>
                        <div class="layui-form-item duty">
                            <label class="layui-form-label"><span class="font-red">*</span>手持身份证照片:</label>
                            <div class="layui-input-block images">
                                <input type="file" class="hidden">
                                <div><img src="../../images/blo_pic.png" alt=""></div>
                                <button>选择文件</button>
                            </div>
                        </div>

                        <div class="font-red">温馨提示:一旦平台认证通过，不可再修改认证资料。</div>
                        <a href="" class="layui-btn">保存</a>
                    </form>
                </div>
            </div>
        </div>
    </div>






<%- include("../public/footer.ejs") %>
</body>

</html>