<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"发布资金"
}) %>
<link rel="stylesheet" href="../../css/user/release-money.css">


</head>

<body>
<%- include("../public/header.ejs",{active:0}) %>
<div class="content">
    <span class="layui-breadcrumb">
        <a href="../../views/index/index.html">首页</a>
        <a href="../../views/user/my-account.html">会员中心</a>
    </span>
    <div class="project-form">
        <div class="project-title">
            <span>发布资金</span>
        </div>
        <div class="form-details">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">资金名称:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入资金名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item select-item">
                    <label class="layui-form-label">资金主体:</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="">企业资金</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资金所属权:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex3" value="生产经营性项目" title="自有资金">
                        <input type="radio" name="sex3" value="非生产经营性项目" title="代理资金" checked>
                    </div>
                </div>
                <div class="layui-form-item address">
                    <label class="layui-form-label">地址:</label>
                    <div class="layui-input-block ">
                        <select name="city" lay-verify="required">
                            <option value="">广东省</option>
                        </select>
                    </div>
                    <div class="layui-input-block city">
                        <select name="city" lay-verify="required">
                            <option value="">广州市</option>
                        </select>
                    </div>
                    <div class="layui-input-block district">
                        <select name="city" lay-verify="required">
                            <option value="">海珠区</option>
                        </select>
                    </div>
                    <div class="layui-input-block street">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入详细街道地址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item select-item">
                    <label class="layui-form-label">投资行业:</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="">建筑建材</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item select-item">
                    <label class="layui-form-label">投资方式:</label>
                    <div class="layui-input-block">
                        <select name="city" lay-verify="required">
                            <option value="">股权投资</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">项目所属权:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex2" value="自有项目" title="自有项目">
                        <input type="radio" name="sex2" value="代理项目" title="代理项目" checked>
                    </div>
                </div>
                <div class="layui-form-item money">
                    <label class="layui-form-label">投资金额:</label>
                    <div class="layui-input-block" id="money-num">
                        <input  type="text" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-block " id="money-unit">
                        <select name="city" lay-verify="required">
                            <option value="">万元</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">融资期限:</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="" title="1年" lay-skin="primary" checked>
                        <input type="checkbox" name="" title="2年" lay-skin="primary">
                        <input type="checkbox" name="" title="3年" lay-skin="primary" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">融资用途:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入融资用途" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">资金概述:</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">投资回报:</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">风控要求:</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="" class="layui-textarea"></textarea>
                    </div>
                </div>
                <button class="layui-btn">发布</button>
            </form>
        </div>
    </div>
</div>



<%- include("../public/footer.ejs") %>
</body>

</html>