<html>

<%- include("../public/head.ejs",{
title:"首页"
}) %>
<link rel="stylesheet" href="../../css/user/sec-reset-transpin.css">


</head>

<body>
<%- include("../public/header.ejs",{
		active:2
	}) %>
<div class="content">
    <div class="breadcrumb">
            <span class="layui-breadcrumb">
                <a href="../../views/user/my-account.html">会员中心</a>
                <a href="#">重置交易密码</a>
            </span>
    </div>
    <div class="content-details">
        <ul>
            <li ><img src="../../images/icon_ste1.png" alt=""></li>
            <li class="second"><img src="../../images/icon_ste2.png" alt=""></li>
            <li ><img src="../../images/icon_ste3_no.png" alt=""></li>
        </ul>
        <div class="details">
            <span class="border-left"></span>
            <span class="border-right"></span>
            <form action="" class="layui-form" >
                <div class="layui-form-item phone">
                    <label class="layui-form-label">新密码:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="输入6-16位数字与字母的组合" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item phone">
                    <label class="layui-form-label">确认密码:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="再次输入新置密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <a href="" class="layui-btn next">确认</a>
            </form>

        </div>
    </div>

</div>





<%- include("../public/footer.ejs") %>
</body>

</html>