<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"系统消息"
}) %>
<link rel="stylesheet" href="../../css/user/system-message.css">


</head>

<body>
<%- include("../public/header.ejs",{
		active:2
	}) %>
    <div class="content">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">会员中心</a>
        </span>
        <div class="clearboth">
            <%- include("../public/sideBarLeft.ejs",{active:[2,3]}) %>
            <div class="sideBarRight pull-left">
                <div class="talk-nav">
                    <span class="first active"><a href="">系统消息</a></span>
                </div>
                <div class="message">
                    <p>共<span class="total-num">1</span>条消息,其中<span class="num">1</span>条未读</p>
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col >
                            <col >
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>发自</th>
                            <th>内容</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="">平台信息推送</a></td>
                            <td><a href="">尊敬的统云用户,即日起,关注统云微信号:统云微服务,即可享</a></td>
                            <td><a href="">2016-11-29 11:00:08</a></td>
                        </tr>
                        <tr>
                            <td><a href="">平台信息推送</a></td>
                            <td><a href="">尊敬的统云用户,即日起,关注统云微信号:统云微服务,即可享</a></td>
                            <td><a href="">2016-11-29 11:00:08</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page">
                    <ul>
                        <li class="pre">上一页</li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li class="no-border">...</li>
                        <li>34</li>
                        <li class="next">下一页</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






<%- include("../public/footer.ejs") %>
</body>

</html>