<html>

<%- include("../public/head.ejs",{
title:"首页"
}) %>
<link rel="stylesheet" href="../../css/user/thr-revise-email.css">


</head>

<body>
<%- include("../public/header.ejs",{active:0}) %>
<div class="content">
    <div class="breadcrumb">
            <span class="layui-breadcrumb">
                <a href="../../views/user/my-account.html">会员中心</a>
                <a href="#">修改电子邮箱</a>
            </span>
    </div>
    <div class="content-details">
        <ul>
            <li ><img src="../../images/icon_ste1.png" alt=""></li>
            <li class="second"><img src="../../images/icon_ste2.png" alt=""></li>
            <li ><img src="../../images/icon_ste3.png" alt=""></li>
        </ul>
        <div class="details">
            <h1>恭喜您，修改电子邮箱成功！</h1>
            <p>
                <a href="../../views/user/my-account.html" class="layui-btn">进入会员中心</a>
                <a href="../../views/index/index.html" class="layui-btn">返回首页</a>
            </p>
        </div>
    </div>

</div>





<%- include("../public/footer.ejs") %>
</body>

</html>