<!doctype html>
<html>

<head>
	<title>项目融资</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
	<link rel="stylesheet" type="text/css" href="../../plugin/layui/css/layui.css">
<link rel="stylesheet" href="../../css/user/no-approve-project.css">


</head>

<body>
<header class="normal-container" style="background-color:#F1F1F1;">
    <div class="container top-header-box">
        <div class="top-header-left-part">
            <span>客服热线：4000-0000-0000</span> |
            <span><img src="../../images/weibo.jpg"></span> |
            <span><img src="../../images/weibo.jpg"></span>
        </div>
        <div class="top-header-right-part">
            <span><a href="../../views/information/about-us.html">关于我们</a></span> |
            <span><a href="../../views/information/help-center.html">帮助中心</a></span>
        </div>
    </div>
</header>
<div class="normal-container bg-white">
    <div class="container header-box">
        <div class="header-left-part">

            <img src="../../images/weibo.jpg" class="logo">
        </div>
        <div class="header-right-part header-right-part">
			<div class="pull-right">
            	<input type="text" class="search-input">
            	<a class="search-input-btn">搜索</a>
			</div>
        </div>
<!--
        <div class="header-right-part text-right">
            <a class="member-login-btn mgr-10">会员登录</a>
            <a class="labor-login-btn">劳工登录</a>

        </div>
-->
    </div>
</div>
<div class="normal-container bg-primary">
    <nav class="container">
        <ul class="top-nav-list">
          
           
			
         		 <li class="active"><a href='../../views/index/index.html'>首页</a></li>
           
			 
            	<li><a href='../../views/index/index.html'>资源信息中心</a></li>
            
			 
            	<li><a href='../../views/index/index.html'>商务交易中心</a></li>
            
			 
            	<li><a href='../../views/index/index.html'>风控管理中心</a></li>
            
			 
            	<li><a href='../../views/index/index.html'>劳工资源中心</a></li>
            
			 
            	<li><a href='../../views/product-service/product-serve.html'>产品和服务</a></li>
            
			 
            	<li><a href='../../views/information/industry-information.html'>资讯视窗</a></li>
            
        </ul>

    </nav>
</div>
    <div class="content">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="#">会员中心</a>
        </span>
        <div class="clearboth">
            
  

   <div class="sideBarLeft pull-left">
  
   <div class="account-manage">
        <span>账号管理</span>
        <ul>
				
				
						<li><a href='../../views/user/my-account.html'>我的账户</a></li>

				
				
						<li><a href='../../views/user/person-info.html'>会员信息</a></li>

				
				
						<li><a href='../../views/user/personage-aprove.html'>会员认证</a></li>

				
				
						<li><a href='../../views/user/save-address.html'>地址管理</a></li>

				
           
        </ul>
    </div>
    
   <div class="account-manage">
        <span>业务管理</span>
        <ul>
				
				
						<li  class="active"><a href='../../views/user/no-approve-project.html'>项目融资</a></li>
				
				
						<li><a href='../../views/user/noapprove-money.html'>项目投资</a></li>

				
           
        </ul>
    </div>
    
   <div class="account-manage">
        <span>会员服务</span>
        <ul>
				
				
						<li><a href='../../views/user/my-sponsor-project-talk.html'>我发起的约谈</a></li>

				
				
						<li><a href='../../views/user/my-receive-talk.html'>我收到的约谈</a></li>

				
				
						<li><a href='../../views/user/my-project-attention.html'>我的关注</a></li>

				
				
						<li><a href='../../views/user/system-message.html'>系统消息</a></li>

				
           
        </ul>
    </div>
    
</div>
<!--
   <div class="sideBarLeft pull-left">
    <div class="account-manage">
        <span>账户管理</span>
        <ul>
            <li  class="active"><a href="../../views/user/my-account.html">我的账户</a></li>
            <li><a href="../../views/user/person-info.html">会员信息</a></li>
            <li><a href="../../views/user/personage-aprove.html">会员认证</a></li>
            <li><a href="../../views/user/save-address.html">地址管理</a></li>
        </ul>
    </div>
    <div class="bussiness-manage">
        <span>业务管理</span>
        <ul>
            <li><a href="../../views/user/no-approve-project.html">项目融资</a></li>
            <li ><a href="../../views/user/noapprove-money.html">项目投资</a></li>
        </ul>
    </div>
    <div class="member-serve">
        <span>会员服务</span>
        <ul>
            <li><a href="../../views/user/my-sponsor-project-talk.html">我发起的约谈</a></li>
            <li><a href="../../views/user/my-receive-talk.html">我收到的约谈</a></li>
            <li><a href="../../views/user/my-project-attention.html">我的关注</a></li>
            <li><a href="../../views/user/system-message.html">系统消息</a></li>
        </ul>
    </div>
</div>-->

            <div class="sideBarRight pull-left">
                <div class="talk-nav">
                    <span class="active first"><a href="#">我发布的项目</a></span>
                    <span class=""><a href="../../views/user/build-project.html">建设中的项目</a></span>
                </div>
                <div class="talk-list">
                    <span class="talk-ltem active"><a href="#">未认证项目</a></span>
                    <span class="talk-item"><a href="../../views/user/approve-project.html">已认证项目</a></span>
                    <a href="../../views/user/release-project.html" class="layui-btn pull-right">我要发布</a>
                </div>
                <div class="project">
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col>
                            <col >
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>项目名称</th>
                            <th>发布时间</th>
                            <th>项目状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="">四川某股权投资项目1000万元</a></td>
                            <td><a href="">2016-11-29</a></td>
                            <td><a href="">项目审核通过</a></td>
                            <td><a href="../../views/user/project-attestation.html" class="btn">项目认证</a></td>
                        </tr>
                        <tr>
                            <td><a href="">四川某股权投资项目1000万元</a></td>
                            <td><a href="">2016-11-29</a></td>
                            <td><a href="">项目审核未通过</a></td>
                            <td><a href="" class="btn">编辑修改</a></td>
                        </tr>
                        <tr>
                            <td><a href="">四川某股权投资项目1000万元</a></td>
                            <td><a href="">2016-11-29</a></td>
                            <td><a href="" >认证中</a></td>
                            <td><a href="">--</a></td>
                        </tr>
                        <tr>
                            <td><a href="">四川某股权投资项目1000万元</a></td>
                            <td><a href="">2016-11-29</a></td>
                            <td><a href="">项目核对中</a></td>
                            <td><a href="">--</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page">
                    <ul>
                        <li class="pre">上一页</li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li class="no-border">...</li>
                        <li>34</li>
                        <li class="next">下一页</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>







<footer class="normal-container footer-box">
    <div class="container">
        <div class="footer-top">
            <div class="col-25">
                <h4>关于我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>帮助中心</h4>
                <p><a>新手指引</a></p>
                <p><a>常见问题</a></p>
                <p><a>安全保障</a></p>
            </div>
            <div class="col-25">
                <h4>关注我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>服务热线</h4>
                <p class="font-18" style="font-weight:600">4000-123-12312</p>
                <p>周一到周五(8:00-22:00)</p>
                <h4>在线客服</h4>
                <p style="margin-top:5px;margin-bottom:5px;">邮箱:1234@qq.com</p>
                <p style="margin-top:5px">地址:广东省珠海市</p>
            </div>
        </div>
        <div class="copyright">
            <p>©2014-2016tyunet.com.珠海横琴云资产管理有限公司版权所有</p>
            <p>粤ICP备23456789号-9</p>
        </div>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="../../plugin/layui/lay/dest/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<!--<script src="../../plugin/locache/locache.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>-->
<script src="../../js/config.js"></script> 
<script src="../../js/model.js"></script>
<script src="../../js/public.js"></script>

</body>

</html>