<!doctype html>
<html>

<head>
	<title>首页</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
	<link rel="stylesheet" type="text/css" href="../../plugin/layui/css/layui.css">
<link rel="stylesheet" href="../../css/user/sec-revise-email.css">


</head>

<body>
<header class="normal-container" style="background-color:#F1F1F1;">
    <div class="container top-header-box">
        <div class="top-header-left-part">
            <span>客服热线：4000-0000-0000</span> |
            <span><img src="../../images/weibo.jpg"></span> |
            <span><img src="../../images/weibo.jpg"></span>
        </div>
        <div class="top-header-right-part">
            <span><a href="../../views/information/about-us.html">关于我们</a></span> |
            <span><a href="../../views/information/help-center.html">帮助中心</a></span>
        </div>
    </div>
</header>
<div class="normal-container bg-white">
    <div class="container header-box">
        <div class="header-left-part">

            <img src="../../images/weibo.jpg" class="logo">
        </div>
        <div class="header-right-part header-right-part">
			<div class="pull-right">
            	<input type="text" class="search-input">
            	<a class="search-input-btn">搜索</a>
			</div>
        </div>
<!--
        <div class="header-right-part text-right">
            <a class="member-login-btn mgr-10">会员登录</a>
            <a class="labor-login-btn">劳工登录</a>

        </div>
-->
    </div>
</div>
<div class="normal-container bg-primary">
    <nav class="container">
        <ul class="top-nav-list">
          
           
			 
            	<li><a href='../../views/index/index.html'>首页</a></li>
            
			 
            	<li><a href='../../views/financing/financing.html'>资源信息中心</a></li>
            
			
         		 <li class="active"><a href='../../views/financing/money-souce.html'>商务交易中心</a></li>
           
			 
            	<li><a href='../../views/user/my-account.html'>风控管理中心</a></li>
            
			 
            	<li><a href='../../views/index/index.html'>劳工资源中心</a></li>
            
			 
            	<li><a href='../../views/product-service/product-serve.html'>产品和服务</a></li>
            
			 
            	<li><a href='../../views/information/industry-information.html'>资讯视窗</a></li>
            
        </ul>

    </nav>
</div>
<div class="content">
    <div class="breadcrumb">
            <span class="layui-breadcrumb">
                <a href="../../views/user/my-account.html">会员中心</a>
                <a href="#">修改电子邮箱</a>
            </span>
    </div>
    <div class="content-details">
        <ul>
            <li ><img src="../../images/icon_ste1.png" alt=""></li>
            <li class="second"><img src="../../images/icon_ste2.png" alt=""></li>
            <li ><img src="../../images/icon_ste3_no.png" alt=""></li>
        </ul>
        <div class="details">
            <span class="border-left"></span>
            <span class="border-right"></span>
            <form action="" class="layui-form" >
                <div class="layui-form-item phone">
                    <label class="layui-form-label">新电子邮箱:</label>
                    <div class="layui-input-block">
                        <input type="text" value="" name="title" required  lay-verify="required" placeholder="输入新电子邮箱" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item validate">
                    <label class="layui-form-label">验证码:</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required  lay-verify="required" placeholder="输入邮箱验证码" autocomplete="off" class="layui-input">
                    </div>
                    <a href="" class="layui-btn">获取验证码</a>
                </div>
                <a href="" class="layui-btn next">确认</a>
            </form>
        </div>
    </div>

</div>






<footer class="normal-container footer-box">
    <div class="container">
        <div class="footer-top">
            <div class="col-25">
                <h4>关于我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>帮助中心</h4>
                <p><a>新手指引</a></p>
                <p><a>常见问题</a></p>
                <p><a>安全保障</a></p>
            </div>
            <div class="col-25">
                <h4>关注我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>服务热线</h4>
                <p class="font-18" style="font-weight:600">4000-123-12312</p>
                <p>周一到周五(8:00-22:00)</p>
                <h4>在线客服</h4>
                <p style="margin-top:5px;margin-bottom:5px;">邮箱:1234@qq.com</p>
                <p style="margin-top:5px">地址:广东省珠海市</p>
            </div>
        </div>
        <div class="copyright">
            <p>©2014-2016tyunet.com.珠海横琴云资产管理有限公司版权所有</p>
            <p>粤ICP备23456789号-9</p>
        </div>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="../../plugin/layui/lay/dest/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<!--<script src="../../plugin/locache/locache.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>-->
<script src="../../js/config.js"></script> 
<script src="../../js/model.js"></script>
<script src="../../js/public.js"></script>

</body>

</html>