//@import "../public";
@import "../index/index";
body{
  background-color: #eee;
}
.top-img{
  min-width: 1170px;
  height: 400px;
  img{
    width: 100%;
    height: 100%;
  }
}

.content{
  width: 1172px;
  margin: 28px auto ;
.talk-item{
  padding-bottom: 20px;
  background-color: #fff;
  .title{
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    border-bottom: 1px solid #eee;
    span{
      height: 50px;
      display: inline-block;
      border-bottom: 3px solid #2888DA;
      font-size: 18px;
      color: #333;
      font-weight: 600;
    }
  }
  .layui-table{
    margin-top: 30px;
    border: none;
    tr{
      border-top:1px solid #eee;
      border-bottom:1px solid #eee;
      height: 70px;
      line-height: 70px;
    }
    td{
      padding-left: 61px;
      .mon{
        font-weight: 600;
        font-size: 14px;
      }
      .ori-price{
        text-decoration: line-through;
      }
      .font-red{
        color: #E82626;
        font-size: 18px;
        font-weight: 600;
      }
      button{
        width: 120px;
        height: 40px;
        line-height: 40px;
        background-color: #2888DA;
        border: 1px solid #2888DA;
        border-radius: 2px;
        color: #fff;
       cursor: pointer;
      }
    }
  }
}
  .street-item,.wind-item{
    margin-top: 24px;
    padding-bottom: 20px;
    background-color: #fff;
    .title{
      height: 50px;
      line-height: 50px;
      padding-left: 30px;
      border-bottom: 1px solid #eee;
      span{
        height: 50px;
        display: inline-block;
        border-bottom: 3px solid #2888DA;
        font-size: 18px;
        color: #333;
        font-weight: 600;
      }
    }
    .layui-table{
      margin-top: 30px;
      border: none;
      tr{
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
        height: 70px;
        line-height: 70px;
      }
      td{
        padding-left: 60px;
        .mon{
          font-weight: 600;
          font-size: 14px;
        }
        .ori-price{
          text-decoration: line-through;
        }
        .font-red{
          color: #E82626;
          font-size: 18px;
          font-weight: 600;
        }
        button{
          width: 120px;
          height: 40px;
          line-height: 40px;
          background-color: #2888DA;
          border: 1px solid #2888DA;
          border-radius: 2px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}