@import "../index/index";
body{
  background-color: #eee;
}
.content {
  width: 1172px;
  margin: 10px auto 20px;
  clear: both;
  overflow: hidden;
  .breadcrumb {
    background-color: #eee;
    margin-bottom: 10px;
  }
  .side-left{
    width: 882px;
    margin-right: 20px;
    float: left;
    .money-details{
      .details-title{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        background-color: #EBF0F7;
        //clear: both;
        //overflow: hidden;
        position: relative; ;
        div{
          //float: left;
          height: 50px;
         padding-left: 20px;
        }
        ul{
          position: absolute;
          top: 0;
          right: 20px;
          height: 50px;
          width: 351px;
          //float: left;
          //margin-left: 215px;
          li{
            float: left;
            width: 33.3%;
            font-size: 14px;
            text-align: right;
            span{
              color: #1284E0;
            }
          }
        }
      }
      .details{
        background-color: #fff;
        height: 240px;
        clear: both;
        overflow: hidden;
        position: relative;
        img.money-img{
          width: 300px;
          height: 200px;
          margin-left: 20px;
          margin-top: 20px;
          margin-right: 30px;
          float: left;
        }
        img.icon-img{
          position: absolute;
          top: 20px;
          left: 25px;
        }
        .details-info{
          float: left;
          margin-top: 20px;
          ul{
           width: 401px;
            clear: both;
            overflow: hidden;
            li{
              width: 50%;
              float: left;
              color: #959595;
              margin-bottom: 15px;
              span{
                color: #333;
              }
            }
          }
          .layui-btn{
            margin-top: 20px;
            background-color: #F13325;
          }
        }

      }
    }
    .money-intro{
      background-color: #fff;
      .intro-title{
        height: 50px;
        line-height: 50px;
        background-color: #EBF0F7;
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
        span{
          display: inline-block;
          height: 31px;
          line-height: 31px;
          margin-left: 20px;
          padding-left: 10px;
          border-left: 3px solid #1284E0;
        }
      }
      .intro{
        height: 751px;
      }

    }
  }
  .side-right{
    width:270px ;
    float: left;
    .title{
        height: 50px;
        padding-left:15px ;
        background-color: #EBF0F7;
        span{
          display: inline-block;
          height: 30px;
          padding-left: 10px;
          margin-top: 10px;
          line-height: 30px;
          color: #333;
          border-left: 3px solid #1284E0;
          font-size: 18px;
          font-weight: 600;
        }
      }
    .card{
      margin-bottom: 20px;
      .card-details{
        text-align: center;
        background-color: #fff;
        padding-top: 15px;
        padding-bottom: 30px;
        img{
          width: 102px;
          height: 101px;
          border: none;
          border-radius: 50%;
          vertical-align: middle;
        }
        li{
          margin-top: 15px;
          .layui-btn{
            background-color: #1284E0;
          }
        }
      }

    }
    .money{
      .project-item{
        .imgs{
          position: relative;
        }
        .project-img{
          width: 100%;
          height: 145px;
        }
        .icon-img{
          position: absolute;
          top:0;
          left: 15px;
        }
        .item-title{
          height: 40px;
          line-height: 40px;
          padding-left: 15px;
          font-size: 16px;
          font-weight: 600;
          background-color: #EBF0F7;
        }
        .item-details{
          padding-left: 15px;
          background-color: #fff;
          div{
            line-height: 25px;
          }
          .area{
            display: inline-block;
            margin-right: 50px;
          }
          .money{
            display: inline-block;
            margin-right: 65px;
          }
          .font-red{
            display: inline-block;
            color: #F87373;
          }
          .font-red:nth-child(1),.font-red:nth-child(2){
            margin-right: 20px;
          }
        }
      }
    }




    //11
  }
}