<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"投资方"
}) %>
<link rel="stylesheet" href="../../css/financing/invest.css">


</head>

<body>
<%- include("../public/header.ejs",{active:1}) %>
<div class="content">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="../../views/user/my-account.html">会员展厅</a>
        </span>
    </div>
    <div class="details">
        <img src="../../images/icon_por.png" alt="" class="person">
        <div class="details-item">
            <div class="person">王先生</div>
            <div>公司: <span class="company">四川某民营企业</span> 联系电话:<span>***********</span></div>
            <div>职位: <span class="company">总经理</span></div>
            <div>所在地区:  <span class="area">四川 成都</span>所属行业: <span>建筑建材</span></div>
        </div>
        <img src="../../images/tab_inv.png" alt="" class="icon">
    </div>
    <div class="project">
        <div class="project-left">
            <div class="pub-project">
                <div class="project-title"><span>发布的资金</span></div>
                <ul>
                    <li>
                        <a href="../../views/financing/money-details.html">
                            <div class="project-item">
                                <img src="../../images/banner.png" alt="">
                                <div class="detailss">
                                    <div class="details-title">四川某股权融资项目</div>
                                    <div>融资金额：<span class="font-red maright">10000万</span>发布方：<span>四川某企业</span></div>
                                    <div>项目融资：<span class="maright">债权融资</span>所在地区：<span>四川 成都</span></div>
                                </div>
                                <div class="times">
                                    2017-02-17
                                </div>
                            </div>
                        </a>

                    </li>
                    <li>
                        <a href="../../views/financing/money-details.html">
                            <div class="project-item">
                                <img src="../../images/banner.png" alt="">
                                <div class="detailss">
                                    <div class="details-title">四川某股权融资项目</div>
                                    <div>融资金额：<span class="font-red maright">10000万</span>发布方：<span>四川某企业</span></div>
                                    <div>项目融资：<span class="maright">债权融资</span>所在地区：<span>四川 成都</span></div>
                                </div>
                                <div class="times">
                                    2017-02-17
                                </div>
                            </div>
                        </a>

                    </li>

                </ul>
            </div>
            <div class="company-details">
                <div class="project-title"><span>企业详情</span></div>
                <ul>

                </ul>
            </div>
        </div>
        <div class="project-right">
            <div class="title"><span>推荐资金</span></div>
            <ul>
                <li>
                    <a href="../../views/financing/money-details.html">
                        <div class="project-item">
                            <div class="imgs">
                                <img src="../../images/banner.png" alt="" class="project-img">
                                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                            </div>
                            <div class="item-title">四川某股权投资项目</div>
                            <div class="item-details">
                                <div><span class="area">四川 成都</span>发布方：<span>四川某企业</span></div>
                                <div>融资金额<span class="money">1000万元</span>债权融资</div>
                                <div>浏览：<span class="font-red">100</span>关注：<span class="font-red">100</span>约谈：<span class="font-red">100</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../../views/financing/money-details.html">
                        <div class="project-item">
                            <div class="imgs">
                                <img src="../../images/banner.png" alt="" class="project-img">
                                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                            </div>
                            <div class="item-title">四川某股权投资项目</div>
                            <div class="item-details">
                                <div><span class="area">四川 成都</span>发布方：<span>四川某企业</span></div>
                                <div>融资金额<span class="money">1000万元</span>债权融资</div>
                                <div>浏览：<span class="font-red">100</span>关注：<span class="font-red">100</span>约谈：<span class="font-red">100</span></div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>


        </div>
    </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>