<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"资金列表"
}) %>
<link rel="stylesheet" href="../../css/financing/money-souce.css">


</head>

<body>
<%- include("../public/header.ejs",{active:1}) %>
<div class="content">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="#">资金资源</a>
        </span>
    </div>
    <div class="money-lists">
        <div class="list-item">
            <div class="list-left">
                所属行业:
            </div>
            <div class="list-right">
                <ul>
                    <li><button>全部</button></li>
                    <li><a href="">房地产</a></li>
                    <li><a href="">建筑建材</a></li>
                    <li><a href="">能源</a></li>
                    <li><a href="">化学化工</a></li>
                    <li><a href="">节能环保</a></li>
                    <li><a href="">矿产冶金</a></li>
                    <li><a href="">市政基础设施</a></li>
                    <li><a href="">金融投资</a></li>
                    <li><a href="">银行</a></li>
                    <li><a href="">农林牧渔</a></li>
                    <li><a href="">国防军工</a></li>
                    <li><a href="">航空航天</a></li>
                    <li><a href="">机电设备</a></li>
                    <li><a href="">交通运输</a></li>
                    <li><a href="">仓储物流</a></li>
                    <li><a href="">汽车汽配</a></li>
                    <li><a href="">旅游酒店</a></li>
                    <li><a href="">餐饮休闲</a></li>
                    <li><a href="">娱乐</a></li>
                    <li><a href="">文教体育</a></li>
                    <li><a href="">传媒广告</a></li>
                    <li><a href="">生物医药</a></li>
                    <li><a href="">IT互联网</a></li>
                    <li><a href="">海洋开发</a></li>
                    <li><a href="">园林艺术</a></li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="list-left">
                项目性质:
            </div>
            <div class="list-right">
                <ul>
                    <li><button>全部</button></li>
                    <li><a href="">新建项目</a></li>
                    <li><a href="">扩建项目</a></li>
                    <li><a href="">改建项目</a></li>
                    <li><a href="">迁建项目</a></li>
                    <li><a href="">恢复项目</a></li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="list-left">
                项目阶段:
            </div>
            <div class="list-right">
                <ul>
                    <li><button>全部</button></li>
                    <li><a href="">筹建</a></li>
                    <li><a href="">在建</a></li>
                    <li><a href="">收尾</a></li>
                    <li><a href="">续建</a></li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="list-left">
                融资方式:
            </div>
            <div class="list-right">
                <ul>
                    <li><button>全部</button></li>
                    <li><a href="">债权融资</a></li>
                    <li><a href="">股权融资</a></li>
                    <li><a href="">资产转让</a></li>
                    <li><a href="">BT/BOT项目融资</a></li>
                </ul>
            </div>
        </div>
        <div class="list-item">
            <div class="list-left">
                所在地区:
            </div>
            <div class="list-right">
                <ul>
                    <li><button>全部</button></li>
                    <li><a href="">北京</a></li>
                    <li><a href="">天津</a></li>
                    <li><a href="">广东</a></li>
                    <li><a href="">上海</a></li>
                    <li><a href="">江苏</a></li>
                    <li><a href="">浙江</a></li>
                    <li><a href="">福建</a></li>
                    <li><a href="">山东</a></li>
                    <li><a href="">湖北</a></li>
                    <li><a href="">香港</a></li>
                    <li><a href="">重庆</a></li>
                    <li><a href="">四川</a></li>
                    <li><a href="">其他</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="project-list">
        <div class="list-title">共299个资金 <a href="../../views/user/release-money.html" class="layui-btn">我要发布</a></div>
        <ul>
            <li>
                <a href="../../views/financing/money-details.html">
                    <div class="list-item">
                        <img src="../../images/banner.png" alt="">
                        <div class="list-details">
                            <div class="details-title">四川某投资公司1000万元寻项目合作</div>
                            <div class="">融资金额：<span class="font-red">10000万</span>发布方：<span>四川某企业</span></div>
                            <div class="">项目融资方式：<span class="maright">债权融资</span>所在地区：<span>四川 成都</span></div>
                        </div>
                        <div class="list-date">
                            2017-02-17
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="list-item">
                        <img src="../../images/banner.png" alt="">
                        <div class="list-details">
                            <div class="details-title">四川某投资公司1000万元寻项目合作</div>
                            <div class="">融资金额：<span class="font-red">10000万</span>发布方：<span>四川某企业</span></div>
                            <div class="">项目融资方式：<span class="maright">债权融资</span>所在地区：<span>四川 成都</span></div>
                        </div>
                        <div class="list-date">
                            2017-02-17
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="list-item">
                        <img src="../../images/banner.png" alt="">
                        <div class="list-details">
                            <div class="details-title">四川某投资公司1000万元寻项目合作</div>
                            <div class="">融资金额：<span class="font-red">10000万</span>发布方：<span>四川某企业</span></div>
                            <div class="">项目融资方式：<span class="maright">债权融资</span>所在地区：<span>四川 成都</span></div>
                        </div>
                        <div class="list-date">
                            2017-02-17
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="list-item">
                        <img src="../../images/banner.png" alt="">
                        <div class="list-details">
                            <div class="details-title">四川某投资公司1000万元寻项目合作</div>
                            <div class="">融资金额：<span class="font-red">10000万</span>发布方：<span>四川某企业</span></div>
                            <div class="">项目融资方式：<span class="maright">债权融资</span>所在地区：<span>四川 成都</span></div>
                        </div>
                        <div class="list-date">
                            2017-02-17
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="list-item">
                        <img src="../../images/banner.png" alt="">
                        <div class="list-details">
                            <div class="details-title">四川某投资公司1000万元寻项目合作</div>
                            <div class="">融资金额：<span class="font-red">10000万</span>发布方：<span>四川某企业</span></div>
                            <div class="">项目融资方式：<span class="maright">债权融资</span>所在地区：<span>四川 成都</span></div>
                        </div>
                        <div class="list-date">
                            2017-02-17
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
    <div class="page">

    </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>