<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"项目详情"
}) %>
<link rel="stylesheet" href="../../css/financing/project-details.css">


</head>

<body>
<%- include("../public/header.ejs",{active:1}) %>
<div class="content">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="../../views/financing/project-list.html">项目</a>
            <a href="#">项目详情</a>
        </span>
    </div>
    <div class="side-left">
        <div class="money-details">
            <div class="details-title">
                <div>
                    <span>四川某股权融资项目</span>
                    <img src="../../images/tab_ige.png" alt="">
                </div>

                <ul>
                    <li>浏览<span>（150）</span></li>
                    <li>关注<span>（150）</span></li>
                    <li>约谈<span>（50）</span></li>
                </ul>
            </div>
            <div class="details">
                <img src="../../images/banner.png" alt="" class="money-img">
                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                <div class="details-info">
                    <ul>
                        <li>所在地区：<span>四川成都</span></li>
                        <li>投资行业：<span>建筑建材</span></li>
                        <li>项目阶段：<span>筹建</span></li>
                        <li>项目用途：<span>生产经营性项目</span></li>
                        <li>项目所属权：<span>自有项目</span></li>
                        <li>项目性质：<span>新建项目</span></li>
                        <li>融资金额：<span>1000万元</span></li>
                        <li>融资方式：<span>股权融资</span></li>
                        <li>担保方式：<span>股权质押</span></li>
                        <li>是否担保：<span>是</span></li>
                        <li>年化收益：<span>10%</span></li>
                    </ul>
                    <p>可承担最高利息0%，资金占用时间0年，还款来源****</p>
                    <a href="" class="layui-btn">我要约谈</a>
                    <a href="" class="layui-btn invest">意向投资</a>
                </div>
            </div>

        </div>
        <div class="money-intro">
            <div class="intro-title"><span>项目介绍</span></div>
            <div class="intro">

            </div>
        </div>
    </div>
    <div class="side-right">
        <div class="card">
            <div class="title"><span>会员名片</span></div>
            <div class="card-details">
                <img src="../../images/banner.png" alt="">
                <ul>
                    <li>王先生</li>
                    <li>公司：<span>四川某民营企业</span></li>
                    <li>职位：<span>总经理</span></li>
                    <li>联系电话：<span>***********</span></li>
                    <li><a href="" class="layui-btn">查看完整联系方式</a></li>
                </ul>
            </div>
        </div>
        <div class="money">
            <div class="title"><span>推荐项目</span></div>
            <ul>
                <li>
                    <a href="../../views/financing/project-details.html">
                        <div class="project-item">
                            <div class="imgs">
                                <img src="../../images/banner.png" alt="" class="project-img">
                                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                            </div>
                            <div class="item-title">四川某股权融资项目</div>
                            <div class="item-details">
                                <div><span class="area">四川 成都</span>发布方：<span>四川某企业</span></div>
                                <div>融资金额<span class="money">1000万元</span>债权融资</div>
                                <div>浏览：<span class="font-red">100</span>关注：<span class="font-red">100</span>约谈：<span class="font-red">100</span></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../../views/financing/project-details.html">
                        <div class="project-item">
                            <div class="imgs">
                                <img src="../../images/banner.png" alt="" class="project-img">
                                <img src="../../images/lab_aut.png" alt="" class="icon-img">
                            </div>
                            <div class="item-title">四川某股权融资项目</div>
                            <div class="item-details">
                                <div><span class="area">四川 成都</span>发布方：<span>四川某企业</span></div>
                                <div>融资金额<span class="money">1000万元</span>债权融资</div>
                                <div>浏览：<span class="font-red">100</span>关注：<span class="font-red">100</span>约谈：<span class="font-red">100</span></div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>


        </div>

    </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>