@import "../index/index";
  .content{
    width: 1174px;
    margin: 0 auto;
   .layui-breadcrumb{
     display: block;
     margin: 10px 0;
   }
    .clearboth{
      clear: both;
      overflow: hidden;
    }
    .sideBarLeft{
      margin-top: 7px;
      margin-right: 20px;
      margin-bottom: 20px;
      width:240px;
      background-color: #E7F1F9;
      span{
        margin-left: 40px;
        font-size: 20px;
      }
      ul{
        margin-top: 15px;
        width: 240px;
        text-align: center;
      }
      li{
        font-size: 18px;
        height: 58px;
        line-height: 58px;
      }
      .account-manage,.bussiness-manage,.member-serve{
        padding-top: 17px;
      }
      .bussiness-manage{
        border-top: 2px solid #CCD8E2;
        border-bottom: 2px solid #CCD8E2;
      }
      li.active{
        background-color: #fff;
        border-left: 3px solid #1284E0;
        a{
          color: #1284E0;
        }
      }


    }
    .sideBarRight{
      width:914px;
      height: 760px;
      margin-top: 7px;
      background-color: #fff;
      .talk-nav{
        height: 58px;
        line-height: 58px;
        border-bottom: 1px solid #eee;
        span{
          font-size: 16px;
          text-align: center;
          display: inline-block;
          margin-right: 50px;
          height: 56px;
          width: 100px;
        }
        span.first{
          margin-left: 30px;
        }
        span.active{
          border-bottom: 3px solid #1284E0;
        }
      }

      .talk-list{
        margin-top: 7px;
        padding-left: 30px;
        padding-right: 30px;
        height: 50px;
        line-height: 50px;
        background-color: #E7F1F9;
        .layui-btn{
          margin-top: 7px;
          background-color: #1284E0;
        }
        span{
          display: inline-block;
          font-size: 16px;
          text-align: center;
          margin-right: 50px;
          height: 58px;
          width: 85px;
        }
        span.active a{
          color: #1284E0;
        }
      }
      .project{
        width: 855px;
        margin: 0 auto;
        margin-top: 30px;
        table{
          .btn{
            color:#1284E0 ;
          }
          th{
            font-weight: normal;
            font-size: 14px;
            background-color: #E7F1F9;
          }
          td{
            font-size: 14px;
            height: 50px;
            //line-height: 50px;
          }
          th,td{
            color: #333;
            text-align: center;
          }

        }

      }
      .page{
        height: 295px;
        padding-top: 173px;
        ul{
          width: 564px;
          margin: 0px auto;
          li{
            float: left;
            width: 8%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-right: 4px;
            border: 1px solid #CCD8E2;
          }
          li.active{
            border-color: #1284E0;
            background-color: #D1EAFF;
          }
          li.no-border{
            border: none;
          }
          li.pre,li.next{
            width: 12%;
          }
        }
      }
    }
  }
