@import "../index/index";
.content {
  width: 1174px;
  margin: 0px auto 25px;
  background-color: #eee;
  .layui-breadcrumb{
    display: block;
    margin: 10px 0;
  }
  .project-form{
    height: 430px;
    background-color: #fff;
  }
  .project-title{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #eee;
    span{
      display: inline-block;
      width: 140px;
      height:60px;
      font-size: 20px;
      color: #333;
      border-bottom: 3px solid #1284E0;
    }
  }
  .details{
    width: 530px;
    margin: 50px auto;
    form{
      margin-top: 80px;
      margin-left: 20px;
      .layui-form-label{
        width: 130px;
        font-weight: bold;
        font-size: 14px;
      }
      .phone{
        margin-bottom: 30px;
        input{
          width: 300px;
          height: 40px;
        }
      }
      .validate{
        position: relative;
        margin-bottom: 45px;
        input{
          width: 180px;
          height: 40px;
        }
        .layui-btn{
          width: 100px;
          background-color: #E45757;
          position: absolute;
          bottom: 0;
          right: 50px;
          color: #fff;
        }
      }
      .next{
        width: 300px;
        height: 50px;
        line-height: 50px;
        margin-left: 120px;
        background-color: #1284E0;
      }
    }
  }
}