@import "../index/index.scss";

.content {
  width: 1174px;
  margin: 0px auto 25px;
  background-color: #fff;
  .breadcrumb {
    padding: 10px 0;
    background-color: #eee;
  }
  .content-details {
    height: 530px;
    position: relative;
    ul{
      position: absolute;
      left: 315px;
      top: -42px;
      clear: both;
      overflow: hidden;
      li{
        float: left;
      }
      .second{
        margin-left: 164px;
        margin-right: 164px;
      }
    }
    .details{
      width: 530px;
      border-top: 2px solid #1284E0;
      margin: 114px auto;
      h1{
        margin-top: 100px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #333;
      }
      p{
        margin-top: 100px;
        text-align: center;
        .layui-btn{
          text-align: center;
          height: 42px;
        }
        .layui-btn:nth-child(1){
          background-color: #1284E0;
        }
        .layui-btn:nth-child(2){
          background-color: #F64444;
          margin-left: 50px;
        }
      }
    }
  }
}