<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"关于我们"
}) %>
<link rel="stylesheet" href="../../css/information/about-us.css">


</head>

<body>
<%- include("../public/header.ejs",{active:6}) %>
<div class="top-img">
    <img src="../../images/banner.png" alt="">
</div>
<div class="content">
    <div class="side-left">
        <div class="help-center">关于我们</div>
        <ul>
            <li class="active"><a href="">公司简介</a></li>
            <li><a href="">总裁寄语</a></li>
            <li><a href="">联系我们</a></li>
        </ul>
    </div>
    <div class="side-right">
        富文本5544

    </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>