<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"帮助中心"
}) %>
<link rel="stylesheet" href="../../css/information/help-center.css">


</head>

<body>
<%- include("../public/header.ejs",{active:6}) %>
<div class="top-img">
    <img src="../../images/banner.png" alt="">
</div>
<div class="content">
    <div class="side-left">
        <div class="help-center">帮助中心</div>
        <ul>
            <li class="active"><a href="">新手指引</a></li>
            <li><a href="">常见问题</a></li>
            <li><a href="">安全保障</a></li>
        </ul>
    </div>
    <div class="side-right">
           富文本55

    </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>