<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"资讯视窗"
}) %>
<link rel="stylesheet" href="../../css/information/industry-information.css">


</head>

<body>
<%- include("../public/header.ejs",{active:6}) %>
<div class="top-img">
    <img src="../../images/banner.png" alt="">
</div>
<div class="content">
    <div class="side-left">
        <ul>
            <li class="active"><a href="">行业资讯</a></li>
            <li><a href="">平台资讯</a></li>
            <li><a href="">VIP活动</a></li>
        </ul>
    </div>
    <div class="side-right">
        <h1>行业资讯</h1>
        <ul>
            <li>
                <div class="details-item">
                    <img src="../../images/banner.png" alt="">
                    <div class="details">
                        <h2>统云资产管理有限公司统云资产管理有限公司</h2>
                        <p>“从创业的角度来讲，我认为这是比较好的时代，无论政策环境、社会环境还是产业环境，改革红利还有进一步释放的空间。”
                        在昨日举行的基石资本2016年年会上，基石资本董事长张维维说：......
                            <a href="../../views/information/info-details.html">[详情]</a>
                        </p>
                        <p class="times">[2016-07-05]</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="details-item">
                    <img src="../../images/banner.png" alt="">
                    <div class="details">
                        <h2>统云资产管理有限公司统云资产管理有限公司</h2>
                        <p>“从创业的角度来讲，我认为这是比较好的时代，无论政策环境、社会环境还是产业环境，改革红利还有进一步释放的空间。”
                            在昨日举行的基石资本2016年年会上，基石资本董事长张维维说：......
                            <a href="">[详情]</a>
                        </p>
                        <p class="times">[2016-07-05]</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="details-item">
                    <img src="../../images/banner.png" alt="">
                    <div class="details">
                        <h2>统云资产管理有限公司统云资产管理有限公司</h2>
                        <p>“从创业的角度来讲，我认为这是比较好的时代，无论政策环境、社会环境还是产业环境，改革红利还有进一步释放的空间。”
                            在昨日举行的基石资本2016年年会上，基石资本董事长张维维说：......
                            <a href="">[详情]</a>
                        </p>
                        <p class="times">[2016-07-05]</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="details-item">
                    <img src="../../images/banner.png" alt="">
                    <div class="details">
                        <h2>统云资产管理有限公司统云资产管理有限公司</h2>
                        <p>“从创业的角度来讲，我认为这是比较好的时代，无论政策环境、社会环境还是产业环境，改革红利还有进一步释放的空间。”
                            在昨日举行的基石资本2016年年会上，基石资本董事长张维维说：......
                            <a href="">[详情]</a>
                        </p>
                        <p class="times">[2016-07-05]</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="details-item">
                    <img src="../../images/banner.png" alt="">
                    <div class="details">
                        <h2>统云资产管理有限公司统云资产管理有限公司</h2>
                        <p>“从创业的角度来讲，我认为这是比较好的时代，无论政策环境、社会环境还是产业环境，改革红利还有进一步释放的空间。”
                            在昨日举行的基石资本2016年年会上，基石资本董事长张维维说：......
                            <a href="">[详情]</a>
                        </p>
                        <p class="times">[2016-07-05]</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="page">

        </div>
    </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>