<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"首页"
}) %>
<link rel="stylesheet" href="../../css/information/info-details.css">


</head>

<body>
<%- include("../public/header.ejs",{active:6}) %>
<div class="content">
    <div class="breadcrumb">
        <span class="layui-breadcrumb">
            <a href="../../views/index/index.html">首页</a>
            <a href="../../views/information/industry-information.html">资讯视窗</a>
            <a href="../../views/information/info-details.html">行业资讯</a>
        </span>
    </div>
    <div class="details">
        <h1>首部《中国建筑装饰蓝皮书》发布</h1>
        <p class="times">时间：2016-02-28 11:59:53</p>
        <p>7月28日，由中国建筑装饰协会主办的《中国建筑装饰蓝皮书》发布会暨“装饰中国”高峰论坛在深圳举行。</p>
        <p>中国建筑装饰协会会长、中装协建筑装饰研究分会名誉会长李秉仁，中国建筑装饰协会副会长兼秘书长、中装协建筑装饰研究分会会长刘晓一，中装协建筑装饰研究分会执行会长张玉峰，中国社会科学院学部委员、中国社会科学院研究生院教授委员会执行委员金碚，中国社会科学院战略发展研究院研究员葛道顺，社会科学文献出版社副总编辑蔡继辉等，与上百位业内资深专家、各地方行业协会领导、装饰企业代表以及数十家权威媒体代表共襄盛举，一同见证了《中国建筑装饰蓝皮书》的发布。</p>
        <p>7月28日，由中国建筑装饰协会主办的《中国建筑装饰蓝皮书》发布会暨“装饰中国”高峰论坛在深圳举行。</p>
        <p>中国建筑装饰协会会长、中装协建筑装饰研究分会名誉会长李秉仁，中国建筑装饰协会副会长兼秘书长、中装协建筑装饰研究分会会长刘晓一，中装协建筑装饰研究分会执行会长张玉峰，中国社会科学院学部委员、中国社会科学院研究生院教授委员会执行委员金碚，中国社会科学院战略发展研究院研究员葛道顺，社会科学文献出版社副总编辑蔡继辉等，与上百位业内资深专家、各地方行业协会领导、装饰企业代表以及数十家权威媒体代表共襄盛举，一同见证了《中国建筑装饰蓝皮书》的发布。</p>
        <p>7月28日，由中国建筑装饰协会主办的《中国建筑装饰蓝皮书》发布会暨“装饰中国”高峰论坛在深圳举行。</p>
        <p>中国建筑装饰协会会长、中装协建筑装饰研究分会名誉会长李秉仁，中国建筑装饰协会副会长兼秘书长、中装协建筑装饰研究分会会长刘晓一，中装协建筑装饰研究分会执行会长张玉峰，中国社会科学院学部委员、中国社会科学院研究生院教授委员会执行委员金碚，中国社会科学院战略发展研究院研究员葛道顺，社会科学文献出版社副总编辑蔡继辉等，与上百位业内资深专家、各地方行业协会领导、装饰企业代表以及数十家权威媒体代表共襄盛举，一同见证了《中国建筑装饰蓝皮书》的发布。</p>
    </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>