<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"产品与服务"
}) %>
<link rel="stylesheet" href="../../css/product-service/product-service.css">


</head>

<body>
<%- include("../public/header.ejs",{active:5}) %>
<div class="top-img"><img src="../../images/banner.png" alt=""></div>
<div class="content">
   <div class="talk-item">
      <div class="title"><a href=""><span>约谈服务套餐</span></a></div>
      <table class="layui-table" lay-skin="line">
         <colgroup>
            <col width="550">
            <col>
            <col>
            <col>
         </colgroup>

         <tbody>
         <tr>
            <td>约谈服务套餐 <span class="mon">1个月</span></td>
            <td><span class="ori-price">原价:3980元</span></td>
            <td>现价: <span class="font-red">2980元</span></td>
            <td><button>购买</button></td>
         </tr>
         <tr>
            <td>约谈服务套餐 <span class="mon">3个月</span></td>
            <td><span class="ori-price">原价:9800元</span></td>
            <td>现价: <span class="font-red">2980元</span></td>
            <td><button>购买</button></td>
         </tr>
         <tr>
            <td>约谈服务套餐 <span class="mon">6个月</span></td>
            <td><span class="ori-price">原价:3980元</span></td>
            <td>现价: <span class="font-red">2980元</span></td>
            <td><button>购买</button></td>
         </tr>
         <tr>
            <td>约谈服务套餐 <span class="mon">12个月</span></td>
            <td><span class="ori-price">原价:3980元</span></td>
            <td>现价: <span class="font-red">2980元</span></td>
            <td><button>购买</button></td>
         </tr>
         </tbody>
      </table>
   </div>
   <div class="street-item">
      <div class="title"><a href=""><span>路演费</span></a></div>
      <table class="layui-table" lay-skin="line">
         <colgroup>
            <col width="700">
            <col>
            <col>
         </colgroup>

         <tbody>
         <tr>
            <td>项目融资额 <span class="mon">5000万以下</span></td>
            <td><span class="ori-price">原费率:3.4%</span></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         <tr>
            <td>项目融资额 <span class="mon">5000万-1亿</span></td>
            <td><span class="ori-price">原费率:3.4%</span></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         <tr>
            <td>项目融资额 <span class="mon">1亿-5亿</span></td>
            <td><sapn class="ori-price">原费率:3.4%</sapn></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         <tr>
            <td>项目融资额 <span class="mon">5亿以上</span></td>
            <td><span class="ori-price">原费率:3.4%</span></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         </tbody>
      </table>
   </div>
   <div class="wind-item">
      <div class="title"><a href=""><span>风控费</span></a></div>
      <table class="layui-table" lay-skin="line">
         <colgroup>
            <col width="700">
            <col>
            <col>
         </colgroup>

         <tbody>
         <tr>
            <td>项目融资额 <span class="mon">5000万以下</span></td>
            <td><span class="ori-price">原费率:3.4%</span></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         <tr>
            <td>项目融资额 <span class="mon">5000万-1亿</span></td>
            <td><span class="ori-price">原费率:3.4%</span></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         <tr>
            <td>项目融资额 <span class="mon">1亿-5亿</span></td>
            <td><span class="ori-price">原费率:3.4%</span></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         <tr>
            <td>项目融资额 <span class="mon">5亿以上</span></td>
            <td><span class="ori-price">原费率:3.4%</span></td>
            <td>现费率: <span class="font-red">3.0%</span></td>
         </tr>
         </tbody>
      </table>
   </div>
   <div class="street-item">
      <div class="title"><a href=""><span>保险费</span></a></div>
      <!--<table class="layui-table" lay-skin="line">-->
         <!--<colgroup>-->
            <!--<col width="700">-->
            <!--<col>-->
            <!--<col>-->
         <!--</colgroup>-->

         <!--<tbody>-->
         <!--<tr>-->
            <!--<td>项目融资额 <span class="mon">5000万以下</span></td>-->
            <!--<td><a href="">原费率:3.4%</a></td>-->
            <!--<td>现费率: <span class="font-red">3.0%</span></td>-->
         <!--</tr>-->
         <!--<tr>-->
            <!--<td>项目融资额 <span class="mon">5000万-1亿</span></td>-->
            <!--<td><a href="">原费率:3.4%</a></td>-->
            <!--<td>现费率: <span class="font-red">3.0%</span></td>-->
         <!--</tr>-->
         <!--<tr>-->
            <!--<td>项目融资额 <span class="mon">1亿-5亿</span></td>-->
            <!--<td><a href="">原费率:3.4%</a></td>-->
            <!--<td>现费率: <span class="font-red">3.0%</span></td>-->
         <!--</tr>-->
         <!--<tr>-->
            <!--<td>项目融资额 <span class="mon">5亿以上</span></td>-->
            <!--<td><a href="">原费率:3.4%</a></td>-->
            <!--<td>现费率: <span class="font-red">3.0%</span></td>-->
         <!--</tr>-->
         <!--</tbody>-->
      <!--</table>-->
   </div>
</div>




<%- include("../public/footer.ejs") %>
</body>

</html>