<!doctype html>
<html>

<%- include("../public/head.ejs",{
title:"首页"
}) %>
	<link type="text/css" rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" />
	<link href="../../css/index/index.css" type="text/css" rel="stylesheet" />


	</head>

	<body>

		<%- include("../public/header.ejs",{
			active:0
		}) %>
			<div class="normal-container" style="position:relative;">
				<div class="swiper-container" style="height:400px;">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="../../images/banner.png"></div>
						<div class="swiper-slide"><img src="../../images/banner.png"></div>
						<div class="swiper-slide"><img src="../../images/banner.png"></div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="login-modal-box">
					<div class="login-modal-title">
						<a class="login-modal-title-item  ">登录</a>
						<a class="login-modal-title-item active">注册</a>
					</div>
					<div class="login-modal-content">
						<div class="login-modal-content-item active">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<input type="text" name="title" required lay-verify="required" placeholder="手机号码" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-item">
									<input type="text" name="title" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-item">
									<label>
										<input type="checkbox" class="font-white " lay-ignore> 记住密码</label>
									<a href="../../views/user/fir-find-password.html" class="pull-right font-white">忘记密码</a>
								</div>
								<div class="layui-form-item">
									<input type="submit" class="primary-row-btn" value="登录">
								</div>

							</form>
						</div>
						<div class="login-modal-content-item ">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<input type="text" name="title" required lay-verify="required" placeholder="手机号码" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-item">
									<input type="text" name="title" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
								</div>
								<div class="layui-form-item">
									<label>
										<input type="checkbox" class="font-white " lay-ignore> 记住密码</label>
									<a class="pull-right font-white">忘记密码</a>
								</div>
								<div class="layui-form-item">
									<input type="submit" class="primary-row-btn" value="注册">
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="normal-container bg-white">
				<div class="container thumb-nav-box">
					<h2 class="thumb-nav-title"><span>平台优势</span></h2>
					<div class="thumb-nav-content">
						<div class="thumb-nav-item">
							<img src="../../images/icon_rna.png">
							<p>身份实名验证</p>
						</div>
						<div class="thumb-nav-item">
							<img src="../../images/icon_dat.png">
							<p>资源审核认证</p>
						</div>
						<div class="thumb-nav-item">
							<img src="../../images/icon_cre.png">
							<p>自信评级</p>
						</div>
						<div class="thumb-nav-item">
							<img src="../../images/icon_ris.png">
							<p>项目实施风控</p>
						</div>
						<div class="thumb-nav-item">
							<img src="../../images/icon_sup.png">
							<p>银行监管账户</p>
						</div>
						<div class="thumb-nav-item">
							<img src="../../images/icon_ins.png">
							<p>保险公司担保</p>
						</div>

					</div>
				</div>

			</div>
			<div class="normal-container pdt-20">
				<div class="container main-box">
					<div class="main-left-part">
						<div class="main-column-box">
							<div class="main-column-title pdr-20">
								<span class="title">热门项目</span>
								<a class="more" href="../../views/financing/project-list.html">更多</a>
								<a class="publish-btn pull-right mgt-10" href="../../views/user/release-project.html">
								我要发布
							</a>
							</div>
							<div class="main-column-content ">
								<a class="project-item-box" href="../../views/financing/project-details.html">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="main-column-box">
							<div class="main-column-title pdr-20">
								<span class="title">推荐资金</span>
								<a class="more" href="../../views/financing/money-souce.html">更多</a>
								<a class="publish-btn pull-right mgt-10" href="../../views/user/release-money.html">
								我要发布
							</a>
							</div>
							<div class="main-column-content ">
								<a class="project-item-box" href="../../views/financing/money-details.html">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川成都<span class="pull-right">发布方四川某企业</span>
										</p>
										<p>
											融资金额：<span class="font-red">10000</span>万<span class="pull-right">债权融资</span>
										</p>
										<p class="three-col">
											<span>浏览：100</span>
											<span>关注：100</span>
											<span>约谈：100</span>
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="main-column-box">
							<div class="main-column-title pdr-20">
								<span class="title">项目路演</span>
								<a class="more">更多</a>
								<!--
							<a class="publish-btn pull-right mgt-10">
								我要发布
							</a>
-->
							</div>
							<div class="main-column-content ">
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											主讲人:张某某 <span class="pull-right">四川成都</span>
										</p>
										<p>
											机构：安徽中心建设公司
										</p>
										<p>
											时间：05/09 16:00-17:00
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											主讲人:张某某 <span class="pull-right">四川成都</span>
										</p>
										<p>
											机构：安徽中心建设公司
										</p>
										<p>
											时间：05/09 16:00-17:00
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											主讲人:张某某 <span class="pull-right">四川成都</span>
										</p>
										<p>
											机构：安徽中心建设公司
										</p>
										<p>
											时间：05/09 16:00-17:00
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											主讲人:张某某 <span class="pull-right">四川成都</span>
										</p>
										<p>
											机构：安徽中心建设公司
										</p>
										<p>
											时间：05/09 16:00-17:00
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											主讲人:张某某 <span class="pull-right">四川成都</span>
										</p>
										<p>
											机构：安徽中心建设公司
										</p>
										<p>
											时间：05/09 16:00-17:00
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											主讲人:张某某 <span class="pull-right">四川成都</span>
										</p>
										<p>
											机构：安徽中心建设公司
										</p>
										<p>
											时间：05/09 16:00-17:00
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="main-column-box">
							<div class="main-column-title pdr-20">
								<span class="title">风控项目</span>
								<a class="more">更多</a>
								<!--
							<a class="publish-btn pull-right mgt-10">
								我要发布
							</a>
-->
							</div>
							<div class="main-column-content ">
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川 成都
										</p>
										<p>
											投资方：安徽中心建设有限公司
										</p>
										<p>
											项目方：*****
										</p>
										<p>
											施工方：*****
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川 成都
										</p>
										<p>
											投资方：安徽中心建设有限公司
										</p>
										<p>
											项目方：*****
										</p>
										<p>
											施工方：*****
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川 成都
										</p>
										<p>
											投资方：安徽中心建设有限公司
										</p>
										<p>
											项目方：*****
										</p>
										<p>
											施工方：*****
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川 成都
										</p>
										<p>
											投资方：安徽中心建设有限公司
										</p>
										<p>
											项目方：*****
										</p>
										<p>
											施工方：*****
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川 成都
										</p>
										<p>
											投资方：安徽中心建设有限公司
										</p>
										<p>
											项目方：*****
										</p>
										<p>
											施工方：*****
										</p>
									</div>
								</a>
								<a class="project-item-box">
									<div class="project-item-thumb">
										<img src="../../images/banner.png">
									</div>
									<div class="project-item-title">
										车水水水水
									</div>
									<div class="project-item-content">
										<p>
											四川 成都
										</p>
										<p>
											投资方：安徽中心建设有限公司
										</p>
										<p>
											项目方：*****
										</p>
										<p>
											施工方：*****
										</p>
									</div>
								</a>

							</div>
						</div>

					</div>
					<div class="main-right-part">
						<div class="main-statistics-box">
							<p>本周上线项目：<span class="pull-right font-red">135个</span></p>
							<p>本周上线资金：<span class="pull-right font-red">135个</span></p>
							<p>本周路演项目：<span class="pull-right font-red">135个</span></p>
							<p>本周签约成功：<span class="pull-right font-red">135个</span></p>
						</div>
						<div class="main-column-box">
							<div class="main-column-title pdr-20">
								<span class="title">签约公告</span>
							</div>
							<div class="main-column-content ">
								<div class="mgb-20">
									<p class="font-15">四川某融资项目签约成功</p>
									<p class="font-12 mgt-5">2016年5月12日</p>
								</div>
								<div class="mgb-20">
									<p class="font-15">四川某融资项目签约成功</p>
									<p class="font-12 mgt-5">2016年5月12日</p>
								</div>
								<div class="mgb-20">
									<p class="font-15">四川某融资项目签约成功</p>
									<p class="font-12 mgt-5">2016年5月12日</p>
								</div>
								<div class="mgb-20">
									<p class="font-15">四川某融资项目签约成功</p>
									<p class="font-12 mgt-5">2016年5月12日</p>
								</div>
							</div>
						</div>
						<div class="main-column-box">
							<div class="main-column-title pdr-20">
								<span class="title">资讯</span>
								<a class="more">更多</a>
							</div>
							<div class="main-column-content " style="padding:10px;">
								<div class="main-news-list">
									<a class="main-news-item">
										<div class="left-part">标题表标题表标题表表爱爱爱爱你</div>
										<div class="right-part">[2017-02-09]</div>
									</a>
									<a class="main-news-item">
										<div class="left-part">标题表标题表标题表表爱爱爱爱你</div>
										<div class="right-part">[2017-02-09]</div>
									</a>
									<a class="main-news-item">
										<div class="left-part">标题表标题表标题表表爱爱爱爱你</div>
										<div class="right-part">[2017-02-09]</div>
									</a>
									<a class="main-news-item">
										<div class="left-part">标题表标题表标题表表爱爱爱爱你</div>
										<div class="right-part">[2017-02-09]</div>
									</a>
									<a class="main-news-item">
										<div class="left-part">标题表标题表标题表表爱爱爱爱你</div>
										<div class="right-part">[2017-02-09]</div>
									</a>

								</div>
							</div>
						</div>
						<div class="main-column-box">
							<div class="main-column-title pdr-20">
								<span class="title">劳工信息</span>
								<a class="more">更多</a>
							</div>
							<div class="main-column-content " style="padding:10px;">
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
								<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="normal-container clearboth">
				<div class="container">
					<div class="main-column-box">
						<div class="main-column-title pdr-20">
							<span class="title">战略合作伙伴</span>
						</div>
						<div class="main-column-content ">
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>

						</div>
					</div>
				</div>
			</div>
			<div class="normal-container clearboth">
				<div class="container">
					<div class="main-column-box">
						<div class="main-column-title pdr-20">
							<span class="title">友情链接</span>
						</div>
						<div class="main-column-content ">
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
							<p class="pdb-10">安徽市中心建设公司<span class="pull-right">300木工</span></p>
						</div>
					</div>
				</div>
			</div>



			<%- include("../public/footer.ejs") %>

				<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
				<script src="../../js/index/index.js"></script>
	</body>

</html>