<%  var isDev = 1;
    var rootPath = "";
	isDev === 1? rootPath="../../":rootPath="//cdn.bootcss.com/";
%>
<footer class="normal-container footer-box">
    <div class="container">
        <div class="footer-top">
            <div class="col-25">
                <h4>关于我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>帮助中心</h4>
                <p><a>新手指引</a></p>
                <p><a>常见问题</a></p>
                <p><a>安全保障</a></p>
            </div>
            <div class="col-25">
                <h4>关注我们</h4>
                <p><a>公司介绍</a></p>
                <p><a>总裁寄语</a></p>
                <p><a>联系我们</a></p>
            </div>
            <div class="col-25">
                <h4>服务热线</h4>
                <p class="font-18" style="font-weight:600">4000-123-12312</p>
                <p>周一到周五(8:00-22:00)</p>
                <h4>在线客服</h4>
                <p style="margin-top:5px;margin-bottom:5px;">邮箱:1234@qq.com</p>
                <p style="margin-top:5px">地址:广东省珠海市</p>
            </div>
        </div>
        <div class="copyright">
            <p>©2014-2016tyunet.com.珠海横琴云资产管理有限公司版权所有</p>
            <p>粤ICP备23456789号-9</p>
        </div>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="../../plugin/layui/lay/dest/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<!--<script src="../../plugin/locache/locache.min.js"></script>-->
<!--<script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>-->
<script src="<%=rootPath%>js/config.js"></script> 
<script src="<%=rootPath%>js/model.js"></script>
<script src="<%=rootPath%>js/public.js"></script>
